.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  align-self: center;
}

.tabley {
  border: 3px solid white;
  border-radius: 10px;
  padding: 1rem;
  margin-left: auto;
  margin-RIGHT: auto;
}


.green {
  font-size: 2rem;
    color: #0b7c2d;
    border: 1px solid white;
    border-radius: 10px;
}

.lightgreen {
  font-size: 2rem;
    color: #b2db51;
    border: 1px solid white;
    border-radius: 10px;
}


.red {
  font-size: 2rem;
    color: #e61336;
    border: 1px solid white;
    border-radius: 10px;
}



.purple {
  font-size: 2rem;
    color: #230052;
    border: 1px solid white;
    border-radius: 10px;
}

.yellow {
  font-size: 2rem;
    color: #fcff42;
    border: 1px solid white;
    border-radius: 10px;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.x h4 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.moviex {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

